.header {
	display: flex;
	justify-content: space-between;
	background-color: $primary-color;
	padding: 2.0rem 5%;

	h1 {
		margin: 0;
		font-size: 2.0rem;
		color: white;
	}

	ul {
		margin: 0;

		li {
			display: inline-block;
			font-size: 1.6rem;
			margin-right: 5rem;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				color: white;
			}
		}
	}
}

@media (max-width: $breakpoint-medium) {
	.header {
		ul {
			display: none;
		}
	}
}