.hamburger {
    position: relative;
    top: 50%;
    display: none;
    z-index: 100;
    cursor: pointer;

    div {
        width: 32px;
        height: 4px;
        margin: 5px 0;
        background-color: white;
        border-radius: 2px;
        transition: 0.3s;
        &:first-of-type { margin-top: 0; }
        &:last-of-type { margin-bottom: 0; }
    }
}

@media (max-width: $breakpoint-medium) {
    .hamburger {
        display: inline-block;

        &.toggle {
            div {
                &:first-of-type {
                    width: 32px;
                    transform: rotate(-45deg) translate(-6px, 7px);
                    background-color: white;
                }

                &:nth-of-type(2) {
                    width: 0;
                    opacity: 0;
                }

                &:last-of-type {
                    width: 32px;
                    transform: rotate(45deg) translate(-6px, -7px);
                    background-color: white;
                }
            }
        }
    }
}