@import url('https://rsms.me/inter/inter.css');

// Add SCSS Colors here
$primary-color: #725AC1;


$breakpoint-small: 0;
$breakpoint-medium: 667px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;
$breakpoint-xxxlarge: 1600px;
$breakpoint-xxxxlarge: 1800px;